body {
  background-color: #ffffff;
  font-family: 'work-sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

img {
  width: 100%
}

a {
  color: #F5B91D;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #F5B91D;
}

a:hover {
  color: #EFEFEF;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active { /* selected link */
  color: #994c30;
}

.skills.and.tools {
    color: #F5B91D
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F5B91D;
  color: #FFFFFF !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #F5B91D; /* width of the border, type, color */
  transition: 0.2s opacity;

}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #EFEFEF;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.button.contact {
  background-color: transparent;
  color: #F5B91D;
  text-transform: uppercase;
  border: 2px solid #F5B91D;
}
